/*Couleur primaire : #000000 (Noir), #FFFFFF (Blanc), #FF6F00 (Orange foncé)*/
/*Couleur secondaire : orange, #CCCCCC (Texte Grisé), #1A1A1A (Fond Grisé), #00FFFF (Bleu) */
@font-face {
	font-family: 'Orbitron';
	src: url(fonts/orbitron/Orbitron-Medium.ttf), url(fonts/orbitron/Orbitron-Black.ttf), url(fonts/orbitron/Orbitron-Regular.ttf), url(fonts/orbitron/Orbitron-Bold.ttf)
}
@font-face {
	font-family: 'Exo2';
	src: url(fonts/exo_2/Exo2-Medium.otf), url(fonts/exo_2/Exo2-Black.otf), url(fonts/exo_2/Exo2-Regular.otf), url(fonts/exo_2/Exo2-Bold.otf)
}
html {
	margin: 0;
	background-color: #000000;
}
body {
	font-family: 'Exo2', sans-serif;
	color: #FFFFFF;
	margin: 0;
	overflow-x: hidden;
	cursor: url(images/cursorFinal.png), auto;
	height: 100%;
	width: 100%;
}

header {
	position: sticky;
	top: 0;
	z-index: 100;
	background: transparent;
	transition: all 0.3s ease, box-shadow 0.3s ease;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* force la hauteur minimale à 100% de la fenêtre */
}
main {
  flex: 1; /* prend tout l’espace disponible entre header et footer */
}
header.scrolled {
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(10px);
}
.titre-section {
	scroll-margin-top: 150px;
	/* Ajuste selon la hauteur de ton header */
}
h1, h3, form legend, button {
	font-family: 'Orbitron', sans-serif;
}
h1{
	text-align: center;
	font-size: 2.5rem;
}
h2 {
	font-family: 'Orbitron';
	color: #FF6F00;
	font-size: 2rem;
}
h3{
	font-size: 1.5rem;
}
p{
	font-size: large;
}
a {
	color: #FFFFFF;
	text-decoration: none;
	transition: color 0.3s ease;
}
.btn-style {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  margin: 10px 0 0 40px;
  background-color: #000000;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: color 0.3s ease, border-color 0.3s ease;
  line-height: 1; /* évite les trous verticaux */
  vertical-align: middle; /* bonus pour les alignements entre boutons */
}
.btn-style::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #FF6F00;
  z-index: -1;
  transition: width 0.2s ease;
}
.btn-style:hover::before {
  width: 100%;
}
.btn-style:hover {
  color: #000000;
  border-color: #000000;
}
.btn-style:active {
  transform: scale(0.95);
}
nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	height: auto;
}
nav ul {
	display: flex;
	gap: 10px;
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li a {
	color: #FFFFFF;
	border: none;
	padding: 6px 15px;
	border-radius: 10px;
	margin: 10px;
	font-family: 'Orbitron';
	font-weight: bold;
	list-style-type: none;
	text-decoration: none;
	position: relative;
}
nav ul li a:hover {
	color: #FF6F00;
}
nav ul li a span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	border-bottom: 2px solid #FF6F00;
	border-radius: 15px;
	transform: scale(0) translateY(50px);
	opacity: 0;
	transition: 0.5s;
}
nav ul li a:hover span {
	transform: scale(1) translateY(0);
	opacity: 1;
}
.accueil{
	margin-top: 20px;
}
.accueil a {
	display: inline-block;
	transform: translateY(0);
	text-decoration: none;
	transition: transform 1s ease;
}
.accueil a:hover {
	cursor: pointer;
	color: #FF6F00;
	transform: scale(1.05);
}
.entete {
	text-align: center;
	margin-top: 40px;
}
.entete h1 {
	font-size: 5rem;
	font-family: 'Orbitron', sans-serif;
	color: #FFFFFF;
	margin: 0;
}
.typewriter-container {
  width: 100%;
  max-width: 100vw;
  overflow: hidden; 
  display: flex;
  justify-content: center;
}

.typewriter {
  color: #FF6F00;
  font-family: 'Orbitron', sans-serif;
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-size: clamp(1.5rem, 6vw, 2.5rem);
}
.presentation {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 70px;
	padding: 60px;
	flex-wrap: wrap;
	margin-bottom: 100px;
}
.image-popup {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 50%;
}
.popup-overlay {
	display: none;
	/* Caché au départ */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	/* Fond sombre */
	z-index: 1000;
	/* Assurez-vous que la fenêtre modale soit au-dessus de tout */
	justify-content: center;
	align-items: center;
}
/* L'image agrandie dans la modale */
.popup-overlay img {
	max-width: 90%;
	max-height: 80%;
	border-radius: 8px;
}
.description {
	max-width: 500px;
	color: #FFFFFF;
}
.descIcon {
	display: flex;
	flex-direction: column;
}
.iconCv {
	display: flex;
	flex-direction: row;
}
.social-icons {
	margin-top: 20px;
	display: flex;
	gap: 20px;
	justify-content: flex-start;
}
.social-icons a {
	color: #FF6F00;
	font-size: 1.8rem;
	transition: transform 0.2s, color 0.2s;
}
.social-icons a:hover {
	transform: scale(1.2);
	color: orange;
}
#text {
	display: inline-block;
}
#cursor {
	display: inline-block;
	animation: blink 0.7s infinite;
	color: #FF6F00;
}
/* Animation clignotement du curseur */
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
main>h2 {
	text-align: center;
	text-decoration: underline;
	margin-top: 30px;
}
main > article{
	margin: auto;
	width: 50%;
}
.subtitle{
	text-align: center;
	text-decoration: underline;
}
/******************Compétences********************/
.carousel-skills {
  width: 100%;
}
.carousel-skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}
.carousel-skills-item {
  height: 120px;
  max-height: auto;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  border-radius: 10px;
}
.carousel-skills-item:hover {
  cursor: pointer;
}
.carousel-skills-item-1 {
  left: 15%;
  opacity: 0.3;
  transform: translateX(-50%);
}
.carousel-skills-item-2 {
  left: 30%;
  opacity: 0.6;
  transform: translateX(-50%);
  z-index: 1;
}
.carousel-skills-item-3 {
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  z-index: 2;
}
.carousel-skills-item-4 {
  left: 70%;
  opacity: 0.6;
  transform: translateX(-50%);
  z-index: 1;
}
.carousel-skills-item-5 {
  left: 85%;
  opacity: 0.3;
  transform: translateX(-50%);
}
/*************************************************/

/******************Application********************/
/******************Compétences********************/
.carousel-appli {
  width: 100%;
}
.carousel-appli-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}
.carousel-appli-item {
  height: 120px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  border-radius: 10px;
}
.carousel-appli-item:hover {
  cursor: pointer;
}
.carousel-appli-item-1 {
  left: 15%;
  opacity: 0.3;
  transform: translateX(-50%);
}
.carousel-appli-item-2 {
  left: 30%;
  opacity: 0.6;
  transform: translateX(-50%);
  z-index: 1;
}
.carousel-appli-item-3 {
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  z-index: 2;
}
.carousel-appli-item-4 {
  left: 70%;
  opacity: 0.6;
  transform: translateX(-50%);
  z-index: 1;
}
.carousel-appli-item-5 {
  left: 85%;
  opacity: 0.3;
  transform: translateX(-50%);
}
/******************Dessin Project*****************/
.gallery {
	width: 100%;
}
.gallery-container {
	align-items: center;
	justify-content: center;
	display: flex;
	height: 400px;
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
}
.gallery-item {
	height: 200px;
	opacity: 0;
	position: absolute;
	transition: all 0.3s ease-in-out;
	width: auto;
	z-index: 0;
	border-radius: 15px;
	background-size: contain;
}
.gallery-item {
	cursor: pointer;
}
.gallery-item-1 {
	left: 15%;
	opacity: 0.4;
	transform: translateX(-50%);
}
.gallery-item-2, .gallery-item-4 {
	height: 250px;
	opacity: 0.8;
	width: auto;
	z-index: 1;
}
.gallery-item-2 {
	left: 30%;
	transform: translateX(-50%);
}
.gallery-item-3 {
	height: 300px;
	opacity: 1;
	left: 50%;
	transform: translateX(-50%);
	width: auto;
	z-index: 2;
}
.gallery-item-4 {
	left: 70%;
	transform: translateX(-50%);
}
.gallery-item-5 {
	left: 85%;
	opacity: 0.4;
	transform: translateX(-50%);
}
.gallery-controls {
	display: flex;
	justify-content: center;
	margin: 25px 0;
	height: 100px;
}
.gallery-controls button {
	background-color: transparent;
	color: #FFFFFF;
	border: 0;
	cursor: pointer;
	font-size: 30px;
	margin: 0 50px;
	padding: 0 12px;
	text-transform: capitalize;
}
.gallery-controls-button:focus {
	outline: none;
}
.gallery-controls-précédent {
	position: relative;
	font-family: 'Orbitron';
}
.gallery-controls-précédent::before {
	border: solid #FFFFFF;
	border-width: 0 5px 5px 0;
	content: '';
	display: inline-block;
	height: 5px;
	left: -30px;
	padding: 10px;
	position: absolute;
	top: 25%;
	transform: rotate(135deg) translateY(-50%);
	transition: left 0.15s ease-in-out;
	width: 5px;
}
.gallery-controls-précédent:hover::before {
	left: -40px;
}
.gallery-controls-suivant {
	position: relative;
	font-family: 'Orbitron';
}
.gallery-controls-suivant::before {
	border: solid #FFFFFF;
	border-width: 0 5px 5px 0;
	content: '';
	display: inline-block;
	height: 5px;
	padding: 10px;
	position: absolute;
	right: -30px;
	top: 45px;
	transform: rotate(-45deg) translateY(-50%);
	transition: right 0.15s ease-in-out;
	width: 5px;
}
.gallery-controls-suivant:hover::before {
	right: -40px;
}
.gallery-container p {
	position: absolute;
	bottom: 0;
}
/***************************************/

/****************Projet*******************/
.web-projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 60px;
	padding: 40px;
	justify-content: center; /* Ajouté */
	max-width: 1200px;
  	margin: 0 auto;
}
/* Conteneur de la flip card */
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  margin: 20px auto;
  height: 400px;
  width: 300px;
}
/* Structure intérieure */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform-origin: center center;
}
.flip-card:hover .flip-card-inner {
  cursor: pointer;
}
/* Faces avant et arrière */
.flip-card-front, .flip-card-back {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
  top: 0;
  left: 0;
  border-radius: 12px;
  backface-visibility: hidden;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px #FF6F00;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/* Face avant */
.flip-card-front {
  z-index: 2;
  text-align: left;
}
/* Face arrière */
.flip-card-back {
  transform: rotateY(180deg);
}
.flip-card-back img {
  max-width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.flip-card-back a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #FF6F00;
  color: #000000;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}
.flip-card-back a:hover {
  background-color: #00FFFF;
}
.piano-projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 40px;
	padding: 50px;
}
.project {
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(5px);
	border: 1px solid #FFFFFF;
	padding: 20px;
	border-radius: 12px;
	text-align: center;
	transition: transform 0.3s;
}
.project:hover {
	transform: scale(1.05);
	box-shadow: 0 0 20px #FF6F00;
	background-color: rgba(0, 0, 0, 1);
	border: none;
}
.project img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
.project h3 {
	margin-top: 15px;
	font-size: 18px;
	color: orange;
}
.project p {
	font-size: 14px;
	margin: 10px 0;
	color: #CCCCCC;
}
.project a {
	display: inline-block;
	margin-top: 10px;
	padding: 8px 16px;
	background-color: #FF6F00;
	color: #000000;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	transition: background 0.3s ease;
}
.project a:hover {
	background-color: #00FFFF;
}
.project video {
	width: 100%;
	height: 150px;
	border-radius: 10px;
}
/*********************************************/
/*****************Timeline*******************/
.timeline {
	position: relative;
	margin: 4rem auto;
	padding: 2rem;
	max-width: 800px;
	border-left: 4px solid #FF6F00;
}
  
.timeline-item {
    position: relative;
    margin-left: 1.5rem;
    margin-bottom: 3rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.timeline-dot {
    position: absolute;
    left: -1.1rem;
    top: 0.5rem;
    width: 20px;
    height: 20px;
    background: #FF6F00;
    border-radius: 50%;
    box-shadow: 0 0 10px #FF6F00;
} 
.timeline-content {
    background: #1a1a1a;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    color: #FFFFFF;
    box-shadow: 0 0 10px #CCCCCC;
}
.timeline-item.show {
    opacity: 1;
    transform: translateY(0);
}
/*************************************/ 
/****************Changement fond***********/ 
#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    opacity: 1;
    filter: brightness(0.3);
	transition: opacity 0.3s ease;
}
  
.image-selector {
    display: none;
    position: fixed;
    top: 122px;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(5px);
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 2;
}
.image-selector ul {
    list-style: none;
    padding: 0;
	display: flex;
  	flex-direction: column;
	gap: 10px;
  	flex-wrap: wrap;
}
.image-selector ul li a {
    display: block;
    color: #FF6F00;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
.image-selector ul li a:hover {
    color: #fff;
}
/***************************************/
canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
}
#starCanvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	width: 100vw;
	height: 100vh;
	display: block;
	pointer-events: none;
}
/* .shooting-star {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}
.shooting-star span{
    position: absolute;
    width: 4px;
    height: 4px;
    top: 50%;
    left: 50%;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1)
    0 0 0 8px rgba(255, 255, 255, 0.1)
    0 0 0 20px rgba(255, 255, 255, 1);
    animation: animate 3s linear infinite;
}
.shooting-star span::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #FFFFFF, transparent);   
}
@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 0.7;
    }
    40% {
        transform: rotate(315deg) translateX(-2000px);
        opacity: 0.4;
    }
    100% {
        transform: rotate(315deg) translateX(-3000px);
        opacity: 0;
    }
}
.shooting-star span:nth-child(2){
    top: 0px;
    right: 180px;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1.5s;
}
.shooting-star span:nth-child(3){
    top: 0px;
    right: 600px;
    left: initial;
    animation-delay: 0s;
    animation-duration: 3s;
}
.shooting-star span:nth-child(5){
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0s;
    animation-duration: 2.25s;
}
.shooting-star span:nth-child(6) {
    top: 5000px;
    right: 600px;
    left: initial;
    animation-delay: 0s;
    animation-duration: 2.5s;
}
.shooting-star span:nth-child(8) {
    top: 7500px;
    right: 500px;
    left: initial;
    animation-delay: 0s;
    animation-duration: 2.3s;
}*/
.speaker-icon {
	position: relative;
	top: 3px;
	transition: transform 0.3s ease;
	display: inline-block;
	cursor: pointer;
}
.speaker-icon:hover {
	transform: scale(1.20);
	color: #FF6F00;
}
.logo-et-son {
	display: flex;
	align-items: center;
	gap: 20px;
}
.logo-et-son a {
	font-family: 'Orbitron';
	font-weight: bold;
	color: #FFFFFF;
	font-size: 1.2rem;
	text-decoration: none;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	max-width: 600px;
	margin-top: 50px;
	backdrop-filter: blur(5px);
}
form fieldset {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	border-color: #FFFFFF;
	padding: 20px;
	border-radius: 10px;
}
input {
	height: 40px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
}
textarea {
  width: 100%;
  padding: 0.5em;
  min-height: 40px;
  max-height: 300px;
  height: 120px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  font-family: 'Exo2';
}
fieldset span {
	margin-top: 20px;
	font-size: 15px;
}
.confirmation {
	display: flex;
	align-items: center;
	justify-content: end;
	margin-top: 20px;
	width: 100%;
	margin-bottom: 30px;
}
.contact-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 200px;
	padding: 0 40px 40px;
	flex-wrap: wrap;
}
.contact-info {
	width: 300px;
	background-color: #1A1A1A;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid #FFFFFF;
}
.contact-info h2 {
	font-size: 1.5rem;
	margin-bottom: 15px;
}
.contact-info p {
	margin-bottom: 10px;
	line-height: 1.4;
}
.icon-contact {
	margin: 5px;
	color: #FF6F00;
}
.contact-info:nth-child(2) > p > a:hover{
	color: #00FFFF;
}
/***************Le footer*****************/
.footer {
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(10px);
	padding: 40px;
}
.footer-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 40px;
}
.footer-logo img {
	height: 200px;
}
.footer-logo:hover{
	cursor: pointer;
}
.footer-section {
	min-width: 180px;
}
.footer-section h3 {
	font-size: 20px;
	margin-bottom: 10px;
	color: orange;
}
.footer-section ul {
	list-style: none;
	padding: 0;
}
.footer-section li {
	margin-bottom: 8px;
	font-size: 16px;
}
.footer a {
	color: #FFFFFF;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}
.quote {
	font-style: italic;
	margin-top: 10px;
	color: #CCCCCC;
}
@media (max-width: 700px) {
	.footer-container {
		flex-direction: column;
		align-items: center;
	}
	.footer-logo {
		margin-bottom: 20px;
	}
	.footer-section {
		text-align: center;
	}
}
/*****************************************/

/************1er modal*******************/
.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
	background-color: #1A1A1A;
	margin: 10% auto;
	padding: 20px;
	border-radius: 10px;
	width: 80%;
	max-width: 400px;
	position: relative;
}
.modal-content h2 {
	text-align: center;
}
.close-btn {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 20px;
	cursor: pointer;
}
.info-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #FF6F00;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
}
/*******************************************/

/*****************2ème Modal****************/
.modal1 {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7);
}
.modal-content1 {
	background-color: #1A1A1A;
	margin: 10% auto;
	padding: 20px;
	border-radius: 10px;
	width: 80%;
	max-width: 400px;
	position: relative;
}
.modal-content1 h2 {
	text-align: center;
}
.close-btn1 {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 20px;
	cursor: pointer;
}
/**********************************/

/**************Custom Scroll Bar**************/
::-webkit-scrollbar {
	width: 12px;
	background-color: #000000;
}
::-webkit-scrollbar-track {
	border-radius: 3px;
	background-color: tra;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: linear-gradient(#000000, #FF6F00, #000000);
	border: 2px solid #000000;
}
/**********************************************/
#scrollProgress {
  position: fixed;
  top: 0;
  left: 0;
  height: 6px;
  background: linear-gradient(90deg, #ff6600, #ff6600, orange, yellow);
  width: 0%;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: width 0.15s ease-out;
  border-radius: 3px;
}

@media screen and (max-width: 780px) {
	h1 { font-size: 2rem; }
	h2 { font-size: 1.5rem; }
	h3 { font-size: 1rem; }
	p{font-size: medium;}
	.carousel-skills-item{height: 90px;}
	.carousel-appli-item{height: 90px;}
	.gallery-item{height: 150px;}
}

@media (max-width: 480px) {
	.info-button {
    	width: 16px;
    	height: 16px;
    	font-size: 14px;
  }
  	.carousel-skills-item{height: 70px;}
	.carousel-appli-item{height: 70px;}
	.gallery-item{height: 120px;}
	.gallery-controls button {font-size: 5px;}
}
